body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #33294e;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    text-align: center;
}

section {
    margin: 1rem 4rem;
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

h2 {
    font-size: 3em;
}
h2, h3 {
    color: #33294e;
}

a {
    color: #6b15db;
    text-decoration: none;
}
a.contact-link{
    color: white;
}
.home-link {
    font-weight: bolder;
    font-size: 1em;
}
.secondary-links a{
    padding-left: 1em;
}

a:hover {
    text-decoration: none;
}

nav {
    padding: 1rem;
    text-align: center;
}

.gradient-button {
    border-radius: 2em;
    border-color: #6b15db;
    background-color: #6b15db;
    color: white;
    padding: 0.75em;
}
.gradient-button a {
    color: white;
    padding-left: 0;
}
.border-button {
    border-radius: 2em;
    border-color: #6b15db;
    border-width: 3px;
    border-style: solid;
    background-color: white;
    padding: 0.75em;
}

.nav-links a:hover {
    text-decoration: underline;
}
.main-section {
    margin: 0;
    padding: 5em 4em 1em;
    min-height: 20em;
    background: linear-gradient(45deg, rgba(238, 80, 101, 0.5), rgb(0, 0, 255, 0.5));
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
    border-width: 0.1em;
    display: flex;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
#about-us{
    justify-content: center;
}
#our-mission {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}
.mission-text{
    max-width: 500px;
    margin-bottom: 3em;
}
.svg-image {
    width: 100%;
    height: 100%;
}
.divider {
    display: flex;
    margin-bottom: 1em;
    padding-left: 0.5em;
}
.pillar-icon-container {
    width: 55%;
}
.glassomorph {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2em;
}
.about-text{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding-left: 5%;
}
.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.card {
    background: linear-gradient(45deg, rgba(238, 80, 101, 0.5), rgb(0, 0, 255, 0.5));
    border-radius: 2em;
    background-clip: padding-box;
    padding: 1em;
    width: 300px;
    box-shadow: 12px 12px 20px 1px rgba(0, 0, 255, .2);
    margin-bottom: 4em;
}
.card-inner{
    background: white;
    border-radius: 1.3em;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
}
.card-desc{
    font-size: 0.8em;
    text-align: center;
    line-height: 1.2;
    margin-top: 1.3rem;
}
.spacer{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}
.svg-shape{
    overflow: visible;
    position: absolute;
}
@media screen and (max-width: 800px) {
  .svg-shape {
    width: 50%;
  }
}
@media screen and (max-width: 500px){
    #our-mission {
        margin: 1.5em
    }
}
.shape-left{
    left: -3em;
}
.shape-right {
    right: -3em;
}
.shadow {
    -webkit-filter: drop-shadow(0 8px 3px rgba( 31, 38, 135, 0.37 ));
    filter: drop-shadow(0 8px 3px rgba( 31, 38, 135, 0.37 ));
}
.pink {
    fill: pink;
}
.purple {
    fill: #927ff0
}
.main-text{
    flex: 3;
}
.divider-top{
    margin: 2em 0em 2em;
    max-width: 50%;
}
.main-image{
    flex: 4
}

#footer{
    padding-top: 3em;
    padding-bottom: 1.5em;
    background-color: #6b15db;
    color: white;
    margin-top: 4em;
}
.footer-bottom{
    font-size: 13px;
    margin-bottom: 0.1em;
}

.network {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding: 1rem;
    width: 80%;
    max-width: 600px;
}

.navbar{
    background-color: rgb(255, 255, 255, 0.6);
}
.navbar-brand{
    color: #553D57;
}

.contact{
    list-style-type: none;
}

/* NETWORK STUFF */

.network h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.network h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #555;
}

.network .website {
    display: block;
    margin: 1rem 0;
    color: #0066cc;
    text-decoration: none;
}

.network .website:hover {
    text-decoration: underline;
}

.network .links {
    display: flex;
    gap: 1rem;
}

.network .icon {
    color: #333;
    font-size: 1.5rem;
    text-decoration: none;
}

.network .icon:hover {
    color: #0066cc;
}

.network .icon.facebook:hover {
    color: #3b5998;
}

.network .icon.instagram:hover {
    color: #e4405f;
}

.network .icon.linkedin:hover {
    color: #0077b5;
}

.network .icon.twitter:hover {
    color: #1da1f2;
}

.network .icon.email:hover {
    color: #dd4b39;
}
