body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

section {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome img {
    margin: 0.5rem;
}

h1 {
    color: #f4f4f4;
}

h2 {
    color: #333
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.network {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding: 1rem;
    width: 80%;
    max-width: 600px;
}

.network h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.network h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #555;
}

.network .website {
    display: block;
    margin: 1rem 0;
    color: #0066cc;
    text-decoration: none;
}

.network .website:hover {
    text-decoration: underline;
}

.network .links {
    display: flex;
    gap: 1rem;
}

.network .icon {
    color: #333;
    font-size: 1.5rem;
    text-decoration: none;
}

.network .icon:hover {
    color: #0066cc;
}

.network .icon.github:hover {
    color: #4078c0;
}

.network .icon.discord:hover {
    color: #7289da;
}

.network .icon.slack:hover {
    color: #4a154b;
}
